@use '../base/variables' as *;

/* Grid text */

.grid-text {
	@include lg {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	br {
		display: none;

		@include lg {
			display: block;
		}

		@include xxl {
			display: none;
		}
	}

	p {
		text-align: center;
		margin-bottom: 24px;

		@include lg {
			text-align: left;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
